body {
    background-color: #212121;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 1.5;
    color: #F86378;
}

h3, a {
    font-weight: 400;
}

section {
    padding: 7% 15%;
}

label {
    color: #212121;
}

.custom-btn {
    color: #F86378;
    border: 1px solid #F86378;
}

.custom-btn:hover {
    color: #212121;
    background-color: #F86378;
    border: 1px solid #F86378;
}

.center {
    text-align: center;
}

/* Home section */

#home {
    background-image: url("../images/background.png");
    background-size: cover;
}

.portfolio-title {
    font-family: 'Lobster';
    color: #ffffff;
    font-size: 1.8rem;
}

.home-content {
    margin-top: 10%; 
    margin-bottom: 5%;
}

.isodev {
    height: 300px;
}

/* About section */
#about {
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

.card-content {
    background-color: #ffffff;
    margin: 5% 3%;
    border-radius: 15px;
}

#about p, #about ul {
    color: #212121;
}

/* Skills section */

#skills {
    text-align: center;
}

.skills-card {
    text-align: left;
    background-color: #272727;
    margin: 2% 2.2%;
    border-radius: 15px; 
}

.skills-card h3 {
    color: #F86378;
}

/* Contact section */

#contact {
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

/* Footer section */

#footer {
    text-align: center;
}

.social-icon {
    padding: 2% 5%;
    color: #F86378;
}

@media (max-width: 767px) {
    .intro {
        margin-bottom: 15%;
        text-align: center
    }

    .intro-isodev {
        text-align: center;
    }
 }